html{
	background-image: 
		url("https://www.google.com/search?q=good+backgrounds+for+web+pages&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiwsdfq26fdAhVvs1kKHTZ1BCwQ_AUICigB&biw=1920&bih=974#imgrc=lRWJfzGU47bPSM:");
	background-color: rgb(169,169,169);	
	color: white;
}
h1{
	font-style: bold;
	font-style: italic;
}
h2{
	font-style: bold;
	font-style: italic;
}
a{
	font-style: italic;
	color: blue;
}


