h1{
	font-style: bold;
	font-style: italic;
	text-align: center;
	border-bottom; 5px solid black;
}
h2{
	font-style: bold;
	font-style: italic;
}
a{
	font-style: italic;
}
#list{
	position: relative;
	width: 75px;
	height: 60px;
	padding: 5px;
	border: 1px solid black;
	left: 15px;
	text-align: left;
}
#Posts{
	position: fixed;
	text-align: center;
}
