html{
	background-color: rgb(169, 169, 169);	
	color: rgb(211, 211, 211);
}
h1{
	font-style: bold;
	font-style: italic;
}
h2{
	font-style: bold;
	font-style: italic;
}
a{
	font-style: italic;
	color: blue;
}


